.add-product-page {
  display: flex;
  justify-content: center;
  margin: 40px;
  

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;

    .input-area {
      display: flex;
      flex-direction: column;

      input {
        height: 30px;
        padding: 0px 5px;
      }

      textarea {
        padding: 3px 5px;
        resize: vertical;
      }
    }

    button {
      margin-top: 10px;
      height: 30px;
      border: none;
      color: white;
      background-color: black;
    }
  }
}

